 <div class="container">
   <div class="row no-gutters">
     <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
       <h1 class="text-dark bg-light p-4 mb-0">New Book</h1>
       <div class="form-body p-4">
         <% if @book.errors.any? %>
         <ul class="alert alert-danger" role="alert">
           <h6 class="alert-heading">
             <%= @book.errors.count %>
            </h6>
            <% @post_image.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
         </ul>
         <% end %>
         <%= form_with model: book do |f| %>
         <div class="input-group mb-3 mt-4">
            <p>Title</p>
            <%= f.text_field :title %>
          </div>
          <p>Opinion</p>
          <%= f.text_area :body %>
          <br>
          <%= f.submit 'Create Book', class:"btn btn-lg btn-block btn-info mt-4" %>
          <% end %>
       </div>
     </div>
   </div>
 </div>
